<!DOCTYPE html>
<html>
<body>

<h2>Create History</h2>

<form action="/gamehistory" method="post">
  <label for="result">result:</label><br>
  <input type="text" name="timePlay" value="win or lose"><br>
  <label for="lname">time play:</label><br>
  <input type="text" id="lname" name="lname" value="60 minutes"><br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>

