<!DOCTYPE html>
<html>
<body>

<h2>Create Biodata</h2>

<form action="/createbiodata" method="POST">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="firsName" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="fname" name="lastName" value="John"><br>
  <label for="lname">Address:</label><br>
  <input type="text" id="lname" name="Address" value="Bandung"><br><br>
  <input type="submit" value="Submit">
</form> 


</body>

</html>

