body {
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    justify-content: center;
    border: 2px solid white;
    padding: 2em 3em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  h1 {
    text-align: center;
  }
  
  .email, .password, .remember-me, .submit {
    padding: 0.5em;
  }
  
  input[type="email"], input[type="password"] {
    width: 20vw;
    height: 5vh;
  }
  
  button {
    width: 20.7vw;
    background-color: #FFB548;
    border-color: #3b49df;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 5px;
  }
  
  h2 {
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 23px;
    letter-spacing: 0.1rem;
    color: #FFB548;
    position: relative;
    right: 10px;
    top: 10px;
  }
  
  img {
    width: 93%;
	padding: 132px;
	background-color: transparent;
	border: none;
	border-radius: 50% 20% / 10% 40%;
	overflow: hidden;
	outline: none;
  }